/***********
  Variables
************/

:root{
  --dark-blue: #1f2937;
  --hero-main-text-color: #F9FAF8; 
  --hero-secondary-text-color: #E5E7EB;
  --button-color: #3882F6;
  --lighter-black: #1F2937;
  --quote-background: #E5E7EB;
  --quote-text-color: #1F2937;
}

body{
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  color: inherit;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-blue);
  color: var(--hero-secondary-text-color);
}

header img{
  max-width: 80px;
  max-height: 80px;
  padding: 8px 16px;
}

header ul{
  padding: 8px 16px;
  display: flex;
  gap: 16px;
}