/*********
  Global
**********/

:root{
  --dark-blue: #1f2937;
  --hero-main-text-color: #F9FAF8; 
  --hero-secondary-text-color: #E5E7EB;
  --button-color: #3882F6;
  --lighter-black: #1F2937;
  --quote-background: #E5E7EB;
  --quote-text-color: #1F2937;
}

body{
  height: 100vh;
  margin: 0;
  /*overflow: hidden;*/
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  color: inherit;
}

/********
  Banner
*********/

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-blue);
  color: var(--hero-secondary-text-color);
}

header img{
  max-width: 80px;
  max-height: 80px;
  padding: 8px 16px;
}

header ul{
  padding: 8px 16px;
  display: flex;
  gap: 16px;
}

/*******
  Hero
********/

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  padding: 48px;
  gap: 96px;
}

.left-side{
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  width: 600px;
}

.hero h1{
  font-size: 48px;
  font-weight: 900;
  color: var(--hero-main-text-color);
  padding: 16px;
}

.hero p{
  font-size: 18px;
  color: var(--hero-secondary-text-color);
  padding: 16px;
  line-height: 1.4;
}

button{
  align-self: flex-start;
  margin: 16px;
  padding: 8px 24px;
  background-color: var(--button-color);
  color: var(--hero-secondary-text-color);
  font-weight: bold;
  border-style: none;
  border-radius: 8px;
  
}

#hero-image{
  width: 600px;
  height: 300px;
}

/*********
  Main
**********/

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1{
  font-size: 36px;
  font-weight: 900;
  margin: 36px 0 48px 0;
}

main img{
  width: 200px;
  height: 200px;
  border: var(--button-color);
  border-radius: 16px;
}

main p{
  font-size: 16px;
  color: var(--quote-text-color);
  width: 190px;
  text-align: center;
  margin-top: 12px;
}

.container{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 80px;
}

/********
  Footer
*********/

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 160px 160px 160px;
  background-color: var(--quote-background);
}

.quote{
  color: var(--quote-text-color);
  font-size: 36px;
  font-style: italic;
  width: 70%;
  margin-bottom: 20px;
}

.author{
  width: 70%;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}