/***********
  Variables
************/

:root{
  --dark-blue: #1f2937;
  --hero-main-text-color: #F9FAF8; 
  --hero-secondary-text-color: #E5E7EB;
  --button-color: #3882F6;
  --lighter-black: #1F2937;
  --quote-background: #E5E7EB;
  --quote-text-color: #1F2937;
}

